header{
    background-image: url('./img/bg.jpg');
    padding: 1em;
}

#header-title{
    width: 60%;
    margin: 1em 30% 1em 10%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1em;
}